.header {
  color: "white";
  background-color: #fff;
}

.contactinfo {
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

.ul {
  list-style-type: none;
  padding: 0;
}



.li {
  display: inline;
  margin-right: 20px;
}

.a {
  color: black;
  text-decoration: none;
}

.buttons {
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.hero {
  /* background: url('/gram.png') no-repeat center center/cover; */
  color: white;
  padding: 50px;
  text-align: center;
}

.services,
.about,
.testimonials {
  padding: 50px;
  text-align: center;
}

.service,
.testimonial {
  margin: 20px 0;
}

.footer {
  background-color: #141414;
  color: white;
  /* padding: 20px; */
  text-align: center;
}


.container {
  position: relative;
  width: 100%;
  /* max-width: 1200px; */
}

.backgroundimage {
  width: 100%;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: red;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: white;
  text-align: center;
  padding: 20px;
  max-width: 80%;

}

.h1,
.h2,
.h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.p {
  line-height: 25px;
  margin-bottom: 20px;
  word-wrap: break-word;
}


.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: #000;
}


.formoverlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.formoverlay input,
.formoverlay select,
.formoverlay button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.formoverlay .button {
  background-color: red;
  color: white;
  cursor: pointer;
}

.servicessection {
  padding: 40px 20px;
  text-align: center;
  flex-wrap: wrap;
}

.serviceitem {
  display: inline-block;
  width: 24em;
  padding: 20px;
  box-sizing: border-box;
}

.serviceitem .h3 {
  color: black;
}

.serviceitem .p {
  color: gray;
}

.aboutsection {
  /* display: flex;
  align-items: center; */
  
  padding: 40px 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 400px;
  text-align: center;
}

.cardimage {
  width: 100%;
  height: auto;
}

.cardcontent {
  padding: 16px;
}

.cardtitle {
  margin: 0;
  font-size: 1.5em;
}

.carddescription {
  color: #666;
  margin-top: 8px;
}

.experiencebadge {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.experiencebadge .h3 {
  color: red;
  margin: 0;
}

.experiencebadge .p {
  color: gray;
  margin: 0;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.featureitem {
  text-align: center;
  flex: 1;
  padding: 10px;
}

.featureitem .img {
  width: 50px;
  height: auto;
}

.featureitem .h4 {
  color: black;
}

.featureitem .p {
  color: gray;
}

.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #555;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #bbb;
}

.tab.active {
  color: #fff;
  border-bottom: 2px solid #ff3333;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

.image {
  width: 100%;
  height: auto;
}

.contenttitle {
  font-size: 24px;
  margin-top: 20px;
}

.contentdescription {
  margin-top: 10px;
}

.features {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.features .li {
  margin: 10px 0;
}

.readmore {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff3333;
  color: #fff;
  text-decoration: none;
}
.overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.formoverlays input,
.formoverlays textarea,
.formoverlays button {
/*   padding: 10px; */
  margin: 5px;
/*   border: none; */
  border-radius: 5px;
}

.formoverlays .button {
  background-color: red;
  color: white;
  cursor: pointer;
}
.formoverlays {
  position: relative;
  bottom: 20px;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

